* {
    /* border: solid 1px red; */
    padding: 0;
    margin: 0;
}

:root {
    font-family: "Roboto", 'Courier New', Courier, monospace;
    --nav-font-color: #BFD3DD;
    --nav-font-strong: #FFFFFF;
    --content-card-bg: #FFFFFF;
    --nav-line-gap: 5px;
    --content-border-rad: 10px;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.navigation {
    padding: 24px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
    gap: var(--nav-line-gap);
    background-image: url(img/navbar-bg.png);
    background-position: center;
    background-size: cover;
    background-color: #01416099;
    background-blend-mode:lighten;
    color: var(--nav-font-color);
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    line-height: 24px;
}

img.icon-white {
    filter: invert(100%) sepia(0%) saturate(7408%) 
        hue-rotate(296deg) brightness(93%) contrast(105%);
}

img.icon-inactive {
    filter: invert(90%) sepia(16%) saturate(246%) 
        hue-rotate(160deg) brightness(91%) contrast(90%);
}

img.icon-grey {
    filter: invert(59%) sepia(10%) saturate(352%) 
        hue-rotate(182deg) brightness(92%) contrast(89%);
}

.current {
    color: var(--nav-font-strong);
}

.line {
    color: var(--nav-font-strong);
}

#company-name {
    font-size: 32px;
    line-height: 22px;
    font-weight: 600;
    color: var(--nav-font-strong);
}

.info, .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    gap: 24px;
}

.user-info {
    gap: 4px;
}

#user-name {
    font-size: 20px;
    color: var(--nav-font-strong);
}

#avatar {
    background-color: var(--nav-font-strong);
    border-radius: 50%;
    border: solid 2px var(--nav-font-strong);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: var(--nav-line-gap);
    margin-bottom: auto;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: var(--nav-line-gap);
}

.nav-item {
    border-radius: 5px;
    padding: 5px 8px;
}

.nav-item a {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav-item:hover {
    background-color: #FFFFFF4D;
}

.nav-item img {
    justify-self: center;
}


.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    gap: 20px;
    grid-template-areas: 
        "check-in check-in check-in meal"
        "projects projects projects projects"
        "absence absence calendar calendar";
    padding: 24px;
    background-color: #F3F4F6;
}

.card, .check-in, .meal, .project-item, .absence, .calendar {
    border-radius: var(--content-border-rad);
    background-color: var(--content-card-bg);
    filter: drop-shadow(0 0 0.75rem #DDDFE4);
}

.card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.check-in {
    grid-area: check-in;
}

.meal {
    grid-area: meal;
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: min-content auto;
    gap: 15px;
}

.projects .projects-heading {
    grid-column: 1 / -1;
    align-self: center;
    display: flex;
    gap: 10px;
}

#project-title {
    color: #22272F;
    font-size: 24px;
    font-weight: 100;
}

.project-item {
    min-height: 175px;
}

.absence {
    grid-area: absence;
}

.calendar {
    grid-area: calendar;
}

.card-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

#details {
    margin-left: auto;
}

.card-data {
    display: flex;
}

.card-data-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-data-title {
    line-height: 20px;
    color: #14161A;
}

.card-data-content, .card-title-text {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
}

.card-data-content {
    letter-spacing: .1rem;
}

#details {
    color: #0C75BB;
    line-height: 28px;
}

.card-data-info-border {
    border-left: solid 2px #C4C8CF80;
    padding-left: 10px;
}

.card-data-content-blue {
    color: #0C75BB;
}

.absence .card-data {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "graphic days"
        "graphic days";
    gap: 32px;
}

.absence .card-data .card-data-info {
    grid-area: graphic;
}

.absence .card-data .card-data-content {
    grid-area: days;
}

.absence-days, .other-days {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.day {
    display: flex;
    justify-content: space-between;
}

.day-number {
    color: #676E79;
}

.absence .card-data .card-data-info {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.unused::before {
    content: url('icons/yellow.svg');
    padding-right: 8px;
}

.used::before {
    content: url('icons/pink.svg');
    padding-right: 8px;
}



.graph-container {
	position: relative;
}

.percent {
	display: block;
	width: 175px;
	height: 175px;
}

.circle {
	stroke: #FCD34D;
	fill: none;
	stroke-width: 4;
}

.circle:nth-child(2) {
	stroke: #E11D48;
    stroke-linecap: round;
}

.graph-container p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #003B6B;
	text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.graph-number {
    font-size: 32px;
    font-weight: bold;
}