* {
    /* border: solid 1px red; */
    padding: 0;
    margin: 0;
}

:root {
    font-family: "Roboto", 'Courier New', Courier, monospace;
    --nav-font-color: #BFD3DD;
    --nav-font-strong: #FFFFFF;
    --content-card-bg: #FFFFFF;
    --nav-line-gap: 16px;
    --content-border-rad: 10px;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.navigation {
    padding: 24px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--nav-line-gap);
    /* Photo by saad aslam: https://www.pexels.com/photo/green-modern-high-rise-building-in-milan-italy-17383209/ */
    background: url(img/bg.png) no-repeat fixed; 
    background-size: contain;
    background-color: #01416099;
    background-blend-mode: multiply;
    color: var(--nav-font-color);
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    line-height: 24px;
}

img.icon-white {
    filter: invert(100%) sepia(0%) saturate(7408%) 
        hue-rotate(296deg) brightness(93%) contrast(105%);
}

img.icon-inactive {
    filter: invert(90%) sepia(16%) saturate(246%) 
        hue-rotate(160deg) brightness(91%) contrast(90%);
}

img.icon-grey {
    filter: invert(59%) sepia(10%) saturate(352%) 
        hue-rotate(182deg) brightness(92%) contrast(89%);
}

.current {
    color: var(--nav-font-strong);
}

.line {
    color: var(--nav-font-strong);
}

#company-name {
    font-size: 32px;
    line-height: 22px;
    font-weight: 600;
    color: var(--nav-font-strong);
}

.info, .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    gap: 16px;
}

.user-info {
    gap: 4px;
}

#user-name {
    font-size: 20px;
    color: var(--nav-font-strong);
}

#avatar {
    background-color: var(--nav-font-strong);
    border-radius: 50%;
    border: solid 2px var(--nav-font-strong);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: var(--nav-line-gap);
    margin-bottom: auto;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: var(--nav-line-gap);
}

.nav-item {
    border-radius: 5px;
    padding: 5px 8px;
}

.nav-item a {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav-item:hover {
    background-color: #FFFFFF4D;
}

.nav-item img {
    justify-self: center;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content 1fr max-content;
    gap: 20px;
    grid-template-areas: 
        "check-in check-in check-in meal"
        "projects projects projects view-more"
        "absence absence calendar calendar";
    padding: 24px;
    background-color: #F3F4F6;
}

.card, .check-in, .meal, .project-item, .absence, .calendar {
    border-radius: var(--content-border-rad);
    background-color: var(--content-card-bg);
    filter: drop-shadow(0 0 0.75rem #DDDFE4);
}

.card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.check-in {
    grid-area: check-in;
}

.meal {
    grid-area: meal;
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: min-content auto;
    grid-auto-rows: auto;
    gap: 10px;
}

.projects .projects-heading {
    grid-column: 1 / -1;
    align-self: center;
    display: flex;
    gap: 10px;
}

#project-title {
    color: #22272F;
    font-size: 24px;
    font-weight: 100;
}

.project-item {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.project-item-title {
    font-size: 18px;
    font-weight: bold;
    color: #003B6B;
}

.project-item-desc {
    color: #676E79;
}

.project-item-languages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 15px;
}

a.view-project-btn {
    padding: 10px;
    margin-top: auto;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #0C75BB;
    color: #FFFFFF;
    letter-spacing: 2px;
    cursor: pointer;
    text-align: center;
}

a.view-project-btn:active {
    box-shadow: inset 0px 0px 10px #FFFFFF4D;
}

.html::before, .css::before, .js::before, .ts::before,
.db::before, .vue::before, .react::before, .node::before {
    padding-right: 8px;
    vertical-align: middle;
}

.html::before {
    content: url('icons/html.png');
}

.css::before {
    content: url('icons/css-3.png');
}

.js::before {
    content: url('icons/java-script.png');
}

.ts::before {
    content: url('icons/typescript.png');
}

.db::before {
    content: url('icons/database-storage.png');
}

.vue::before {
    content: url('icons/vuejs.png');
}

.react::before {
    content: url('icons/react.png');
}

.node::before {
    content: url('icons/nodejs.png');
}

.absence {
    grid-area: absence;
}

.calendar {
    grid-area: calendar;
}

.card-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card-data {
    display: flex;
}

.card-data-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-data-title {
    line-height: 20px;
    color: #14161A;
}

.card-data-content, .card-title-text {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
}

.card-data-content {
    letter-spacing: .1rem;
}

.details {
    color: #0C75BB;
    line-height: 28px;
    margin-left: auto;
}

.projects .details {
    padding-right: 10px;
}

.card-data-info-border {
    border-left: solid 2px #C4C8CF80;
    padding-left: 10px;
}

.card-data-content-blue {
    color: #0C75BB;
}

.absence .card-data {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "graphic days"
        "graphic days";
    gap: 32px;
}

.absence .card-data .card-data-info {
    grid-area: graphic;
}

.absence .card-data .card-data-content {
    grid-area: days;
}

.absence-days, .other-days {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.day {
    display: flex;
    justify-content: space-between;
}

.day-number {
    color: #676E79;
}

.absence .card-data .card-data-info {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.unused::before, .used::before {
    padding-right: 8px;
    vertical-align: middle;
}

.unused::before {
    content: url('icons/yellow.svg');
}

.used::before {
    content: url('icons/pink.svg');
}

.calendar-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
}

.calendar-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    border: solid 1px lightgrey;
    border-radius: 5px;
}

.calendar-date, .calendar-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    color: #22272F;
}

.calendar-date {
    background-color: #F4FAFF;
    padding: 10px 20px;
    align-items: center;
    border-right: solid 1px #BFD3DD;
    border-radius: inherit;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #003B6B;
}

.calendar-full-date, .calendar-desc-title {
    font-weight: bold;
}

.graph-container {
	position: relative;
}

.percent {
	display: block;
	width: 175px;
	height: 175px;
}

.circle {
	stroke: #FCD34D;
	fill: none;
	stroke-width: 4;
}

.circle:nth-child(2) {
	stroke: #E11D48;
    stroke-linecap: round;
}

.graph-container p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #003B6B;
	text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.graph-number {
    font-size: 32px;
    font-weight: bold;
}

.schedule {
    background-color: transparent;
}

.schedule-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 150px));
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

.schedule-card-item {
    min-height: 150px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    color: white;
}

.schedule-card-item:hover {
    background-color: white;
}

.schedule-title {
    font-size: 18px;
}

.schedule-time {
    font-size: 14px;
}

.schedule-card-item.message {
    grid-column: 1 / 3;
    justify-content: center;
    padding-inline: 25px;
}

.schedule-card-item.darkorchid {
    background-color: darkorchid;
}

.schedule-card-item.pink {
    background-color: #E11D48;
}

.schedule-card-item.peach {
    background-color: white;
    color: #14161A;
}

.schedule-card-item.peach .message-title {
    font-weight: lighter;
    font-style: italic;
    font-size: 22px;
}

.schedule-card-item.peach .message-desc {
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
}

span.pink {
    color: darkorchid;
}